.user_container {
  height: 100vh;
  width: 100%;
  padding: 1.1rem 3rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  h1 {
    color: #213f7d;
  }
  .user_headers {
    display: flex;
    gap: 1.4rem;

    @media only screen and (max-width: 1024px) {
      flex-wrap: wrap;
      gap: 0.8rem;
    }
  }

  .users_table {
    position: relative;

    .view_user {
      padding: 0.5rem;
      background-color: #39cdcc;
      border: none;
      color: #fff;
      font-weight: 600;
      border-radius: 4px;
    }

    @media only screen and (max-width: 768px) {
      width: 600px;
      overflow: auto;
    }

    .table_drop {
      cursor: pointer;
    }
    .header_drop_menu {
      position: absolute;
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      gap: 0.8rem;
      top: 8.1%;
      height: 518px;
      padding: 1rem;
      border: 1px solid #545f7d24;
      background-color: #fff;

      .input_group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
          font-size: 14px;
          font-weight: 500;
          color: #213f7d;
        }
        .input_field {
          width: 260px;
          height: 38px;
          padding: 0.5rem;
          border-radius: 8px;
          outline: none;
          border: 1px solid #213f7d;
        }
      }

      .drop_buttons {
        display: flex;
        justify-content: space-between;
        button {
          width: 120px;
          height: 40px;
          border-radius: 8px;
          border: none;
          font-weight: 600;
          font-size: 14px;
          cursor: pointer;
        }

        .filter {
          color: #fff;
          background-color: #39cdcc;
        }

        .reset {
          background-color: transparent;
          border: 1px solid #545f7d;
          color: #545f7d;
        }
      }
    }

    .action_menu {
      position: absolute;
      right: 3%;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      padding: 1rem;
      width: 150px;
      background-color: #000;
      a {
        color: #fff;
        text-decoration: none;
      }
    }

    .table_footer {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .footer_left {
        color: #213f7d;
      }

      .footer_right {
        .pagination {
          ul {
            display: flex;
            list-style: none;
            gap: 0.5rem;
            li {
              padding: 0.3rem;
              background: #14274d1a;
              a {
                text-decoration: none;
                color: #213f7d;
              }
            }
          }
        }
      }
    }
  }
}
